---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  height: 100%;
  overflow-x:hidden; /* this fixes unwanted horisontal scroll bars */
}

body {
	background: $white;
  font: 13pt/1.4 $helvetica;
  color: $darkGray;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }

  @include word-wrap;
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $linkBlue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $linkBlue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}


// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

#wrapper {
  min-width: $minWi;
  max-width: $maxWi;

  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;

  /* This is required to include the top stripe */
  padding-top: $topStripeHe;
  margin-top: -$topStripeHe;

  @include mobile {
    max-width: 100%;
    min-width: 100%;
    width: 100%;

    margin: -$topStripeHe 0 0 0;

    padding-left: $mobileHorisontalPadding;
    padding-right: $mobileHorisontalPadding;
  }
}


/* Header
------------------------------------------------------------------- */
.top-stripe {
    width: 100%;
    height: $topStripeHe;

    background-color: $mdGreen;
}

.top-stripe-post {
  @extend .top-stripe;

  background-color: $inactiveHeaderColor;
}

#logo {
  font-size: 2em;
  font-family: Tahoma, $helvetica;
  font-weight: 600;
  text-decoration: none;

  @include mobile {
    display: inline-block;
    width: 100%;

    text-align: center;
  }
}

#logo:hover {
  color: red;
}

.logo_post {
  color: $inactiveHeaderColor;
}

.logo_main {
  color: black;
}

.logo_name_post {
  @extend .logo_post;

  @include mobile {
    display: none;
  }
}

.logo_name_main {
  @extend .logo_main;

  @include mobile {
    display: none;
  }
}

nav {
  float: right;

  @include mobile {
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
  }

  a {
    font-size: 1.5em;
    line-height: 1.41em;
    font-family: Tahoma, $helvetica;

    margin-right: 0.2em;
    padding: 0.1em 0.5em;

    color: #1e241e;

    text-decoration: none;

    @include mobile {
      text-align: center;
      flex-grow: 1;
      -webkit-flex-grow: 1;
    }
  }

  a:hover {
    background-color: #88c988;
    text-decoration: none;
    color: white;
  }

  .selected {
    background-color: $mdGreen;
    color: white;
    text-decoration: none;
  }

  .selected_post {
    background-color: $inactiveHeaderColor;
    color: white;
    text-decoration: none; 
  }

  .post {
    color: $inactiveHeaderColor;
  }
}

/* Middle
------------------------------------------------------------------- */
main {
  width: 100%;
  padding: 0 0 120px;
  height: 1%;
  position: relative;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.posts {
  p {
    margin: 0.5em 0;
  }
}

.post {
  a:hover {
    text-decoration: underline;
  }

  blockquote {
    border-left: 1em solid #3c9f45;
    padding: 0.1em 0 0.1em 1em;
    color: #252525;
    font-size: 22px;

    margin-top: 1.8em;
    margin-right: 0.8em;
    margin-bottom: 1.8em;

    width: 100%;

    background-color: $white;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23888888' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }

  h1 {
    line-height: 1.2;
    font-size: 2em;
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.2;
  }


  p {
    text-align:justify;
    line-height: 1.5;

    @include word-wrap;
  }
}

.date {

}

#updates {
  @extend .full-width;

  margin: 1em 0;
  padding: 0.2em 0;
  font-size: 0.9em;
  background-color: #f9eacf;

  table {
    margin: 0 auto;
    width: 800px;

    @include mobile {
      margin: 0;
      width: 100%;
    }
  }

  table, tr, td, th, tb {
    border: none;
    text-align: left;
    border-collapse: collapse;
  }

  td.update-date {
    @extend .vivid-meta-color;
    white-space: nowrap;
    padding: 0;
  }

  td.update-msg {
    @extend .dull-meta-color;
    width: 99%;
    padding: 0 1em;
  }
}

.post-note {
  display: block;
  position: relative;

  float: right;
  padding: 10px;
  border: 1px dashed $mdGreen;
  border-radius: 4px;
  margin: 0 0 18px 2em;
  
  max-width: 40%;
  
  background-color: #fbfffb;

  @include mobile {
    margin: 18px 0;
    max-width: 100%;
    float: none;
  }
}

.post-note:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 18px;
  background-image: url("images/note-smiley.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -18px;
}


// single line hr
hr {
  border: 0;
  border-top: 1px solid rgba(128,128,128,0.1);
}

// full width tables with 1px border and centered text
table {
  width: 100%;
  border: 1px solid rgba(128,128,128,0.1);
}

tr, td, th, tb {
  text-align: center;
  border: 1px solid rgba(128,128,128,0.1);
  padding: 2px;
}

.comments-dash {
  display: block;
  width:100%;
  height:0.5em;
  margin: 1.5em 0 0 0;
  text-align:right;
  color:#878787;
  line-height:0.5em;
  padding:0;
  font-size:2em;
  overflow:hidden;
  font-weight: 600;
}

.full-width-dash {
  @extend .full-width;
  display: block;
  height: 2px;
  border-bottom: #878787 2px dashed;
  margin-bottom: 1em;
}

#markdown-toc {
    list-style-type: none;
    border-left: 0.2em solid $mdGreen;
    padding-left: 0.8em;
    line-height: 1.5em;
}

/* Footer
------------------------------------------------------------------- */
footer {       
  width: 100%;

  margin: -100px auto 0;
  height: 100px;

  background-color: #fafafa;
  border-top: 1px solid #ebebeb;

  .footer-content {
    min-width: $minWi;
    max-width: $maxWi;   
    height: 100%;

    margin: 0 auto;

    @include mobile {
      padding-left: $mobileHorisontalPadding;
      padding-right: $mobileHorisontalPadding;

      min-width: 100%;
      max-width: 100%;
      width: 100%;
    }
  }
}

.copyrights-table-wrapper {
  display: table;
  height: 100%;

  @include mobile {
    margin: 0 auto;
  }
}

.the-hole {
  margin-top: 20px;
}

.copyrights {
  display: table-cell;

  vertical-align: middle;
  padding-left: 1em;
  padding-top: 4px;

  font-family: Arial, Tahoma;
  font-size: 0.8em;
  color: #777;
}


/* Modifiers
------------------------------------------------------------------- */
.no-top-margin{
    margin-top: 0;
}

.no-left-margin{
    margin-left: 0;
}

.valign-bottom{
    vertical-align: bottom;
}

/* Makes full width if element is centered in the window https://css-tricks.com/full-width-containers-limited-width-parents/ */
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  @include mobile {
    width: 100%;
    left: auto;
    right: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

.dull-meta-color {
  color: $dullMetaColor;
}

.vivid-meta-color {
  color: $vividMetaColor;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
