
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$mdGreen: #3c9f45;

// Post title portion colors
$dullMetaColor: #787878;
$vividMetaColor: #3d3d3d;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$topStripeHe: 0.3em;
$maxWi: 800px;
$minWi: 600px;

// Font stacks
$helvetica: -apple-system, Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}