
//
// VARIABLES
//

// Colors
$linkBlue: #4183C4;
$mdGreen: #3c9f45;

// Post title portion colors
$dullMetaColor: #787878;
$vividMetaColor: #3d3d3d;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$topStripeHe: 0.3em;
$maxWi: 800px;
$minWi: 600px;

// Horisontal padding that is applied to top level elements on mobile
$mobileHorisontalPadding: 1em;

// Font stacks
$helvetica: -apple-system, Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 800px) {
    @content;
  }
}

// Makes long words & urls be wrapped if they exceed container's width
@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
