<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <div class="top-stripe"></div>    
    <div id="wrapper"> <!-- wrapper  -->
      <header class="header clearfix">
        <a href="{{ site.baseurl }}/" id="logo">MANIAK_dobrii</a>

        <nav>
          {% include nav.html %}
          <a href="{{ site.baseurl }}/" {% if nav_id == "posts" %} class="selected" {% endif %}>posts</a>
          <a href="{{ site.baseurl }}/about" {% if nav_id == "about" %} class="selected" {% endif %}>about</a>
        </nav>
      </header>


      <main id="main" role="main">
        {{ content }}
      </main>
    </div> <!-- ENDOF wrapper -->

    <footer class="footer">
        <div id="the_hole"></div>
        <div class="copyrights"><span class="copyrights_separator">|</span>© 2011-2015 MANIAK_dobrii</div>
    </footer>
  </body>

  {% include analytics.html %}
</html>
