---
layout: default
---

<article class="post">

  <h1>{{ page.title }}</h1>

  <div class="date">
    <span style="color:rgb(120, 120, 120);">added <span style="color:#3d3d3d;">{{ page.date | date: "%e.%b.%Y" | downcase }}</span>{% if page.update_date %}, updated <span style="color:#3d3d3d;">{{ page.update_date | date: "%e.%b.%Y" | downcase }}</span>{% endif %}</span>
  </div>
      

  <div class="entry">
    {{ content }}
  </div>

  <div class="comments-dash">comments</div>
  <div class="full-width-dash">&nbsp;</div>
  
  {% include disqus.html %}
</article>
